.container{
    min-height: 20vh; 
    padding:3rem;
    background-color: #293230;
    border-radius: 1rem;
    margin-bottom: 2rem;
    -webkit-text-fill-color: bisque;
    justify-content: center;
    align-items: center;
    display: flexbox;
    text-align: center;
}