<!--<div class="d-flex"> 
  <div class="card bg-dark text-white p-4" style="width: 24rem;"> 
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Login</h3>
      <form (ngSubmit)="login()">
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="credentials.email" name="username" class="form-control" required>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary-custom w-100">Login</button>
        <p *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</div> -->
