[Unit]
Description=MinIO Object Storage
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_user }}
Group={{ minio_group }}
EnvironmentFile={{ minio_env_file }}
ExecStart={{ minio_bin_dir }}/minio server --address {{ minio_api_address }} --console-address {{ minio_console_address }} $MINIO_VOLUMES
Restart=always
LimitNOFILE=65536
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
